Repository liets0n/cambioo: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run typecheck, prettier --write

.lintstagedrc:

{
  "./**/*.{js,mjs,cjs,ts,mts,cts,jsx,tsx}": ["npm run lint", "npm run format"],
  "./**/*.{ts,tsx}": ["npm run typecheck"],
  "*.{json,md}": ["prettier --write"]
}

feat: installing and configuring unistyles
  .gitignore
  app.json
  app/index.tsx
  babel.config.js
  eas.json
  index.ts
  package-lock.json
  package.json
  src/app/_layout.tsx
  src/app/index.tsx
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck, prettier --write

feat: convert the colors pallet from oklch to hex
  src/app/index.tsx
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck

feat: implement navigation
  app.json
  package-lock.json
  package.json
  src/app/(tabs)/_layout.tsx
  src/app/(tabs)/exchangeRate.tsx
  src/app/(tabs)/index.tsx
  src/app/(tabs)/settings.tsx
  src/app/_layout.tsx
  src/app/index.tsx
  src/screens/exchangeRate/index.tsx
  src/screens/exchangeRate/styles.ts
  src/screens/index.ts
  src/screens/market/index.tsx
  src/screens/market/styles.ts
  src/screens/settings/index.tsx
  src/screens/settings/styles.ts
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck, prettier --write

ci: add pre-push-check script for lint, type-check and expo-doctor
  .husky/pre-push
  .lintstagedrc
  package.json
Due: prettier --write

style: making adjustments to the eslint, prettier, and editorconfig configuration files
  .editorconfig
  .prettierrc
  eslint.config.mts
Due: npm run lint, npm run format

chore: installing the Poppins font
  app.json
  package-lock.json
  package.json
  src/app/(tabs)/_layout.tsx
  src/app/_layout.tsx
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck, prettier --write

chore: adjusting theme settings
  src/app/(tabs)/_layout.tsx
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck

refactor: adjust the label size in the tab bar
  src/app/(tabs)/_layout.tsx
  unistyles.ts
Due: npm run lint, npm run format, npm run typecheck
